
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Poppins:wght@200;300;400;500;600&display=swap"
      rel="stylesheet"
    />
    <title>Games With History - Home</title>
  </head>
  <body>
    <header>
      <h1>
        Games With History
      </h1>
      <div class="bar"></div>
      <p>A list of games that have a really good history for you to play</p>
    </header>
    <main>
      <section class="controllers-container">



        <form action="/create" method="get">
          <button>
            <img
              src="/img/return-button-svgrepo-com.svg"
              alt="plus-solid"
              class="add-button"
            />
          </button>
          <title>Cadastro de Personagem</title>

          <h1>Cadastro de Personagens</h1>
          <h3>Digite as informações do seu personagem</h3>
          <br>
          <form>
            <fieldset>
              <div>
                <label>Nome:</label>
                <imput type="text" name="nome" id="nome">
                </div>
                </fieldset>
                
                <fieldset>
                <div>
              <label>Imagem:</label>
              <imput type="imagem" name="imagem" id="imagem">

              </div>
            </fieldset>


            <div>

            </div>

            </fieldset>
          </form>
          
          <feldset>
          <div>
            <label>Habilidades do personagem:</label>
            <textarea row="6" style="width: 26em" id="Informações" name="informações"></textarea>


            <button type="submit">Enviar</button>

          </div>
          </feldset>
        <script src="/js/script.js"></script>
  </body>
</html>





<!-- 
</form>
</section>
</main>
<h1>CADASTRO DE PERSONAGEM</h1>
<BR>
<form method="get" action="/receber_dados.php">
<h2>NOME DO PERSONAGEM:</h2>
</form>
<br>
<form method="get" action="/receber_dados.php"> 
<h2>IMAGEM DO PERSONAGEM:</h2>

</form> -->
