<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Poppins:wght@200;300;400;500;600&display=swap"
      rel="stylesheet"
    />
    <title>Games With History - Home</title>
  </head>
  <body>
    <header>
      <h1>
        Games With History
      </h1>
      <div class="bar"></div>
      <p>A list of games that have a really good history for you to play</p>
    </header>
    <main>
      <section class="controllers-container">
        <button><img src="/img/random-solid.svg" alt="random-solid"></button>
        <button><img src="/img/plus-solid.svg" alt="plus-solid"></button>
      </section>
    </main>
    <script src="/js/script.js"></script>
  </body>
</html>
