<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Poppins:wght@200;300;400;500;600&display=swap"
      rel="stylesheet"
    />
    <title>Games With History - Home</title>
  </head>
  <body>
    <header>
      <h1>
        Games With History
      </h1>
      <div class="bar"></div>
      <p>A list of games that have a really good history for you to play</p>
    </header>

    <main>
      <section class="controllers-container">
        <button><img src="/img/random-solid.svg" alt="random-solid" /></button>
        <form action="/create" method="get">
          <button>
            <img
              src="/img/plus-solid.svg"
              alt="plus-solid"
              class="add-button"
            />
          </button>
        </form>
      </section>

      <section class="content-container">
        <article class="container">
          <div class="outsideCircle">
            <div class="insideCircle">
              <img
                src="https://staticctf.akamaized.net/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/vfMNnYQdy8BISFLo0SVjO/e68ccb88e82ebb7e9233d23157ba7153/AC_Brotherhood.jpg.png"
                alt="ranger vermelho"
              />
            </div>
          </div>

          <form action="/edit" method="get">
            <button type="submit">
              <img
                src="/img/edit-solid.svg"
                alt="edit-solid"
                id="edit-button"
              />
            </button>
          </form>

          <button>
            <img
              src="/img/trash-solid.svg"
              alt="trash-solid"
              id="delete-button"
            />
          </button>

          <form action="/details" method="get">
            <button class="card">
     
                <h3>Assassin's Creed</h3>
    
            </button>
          </form>

          <section class="modal">
            <article class="modal-overlay">
              <div class="modal-content">
                <form action="" method="post">
                  <button class="modal-close">x</button>
                  <span>
                    <h2>Do you really want to delete this game?</h2>
                  </span>
                  <span class="hstack">
                    <button id="confirm-delete-button">Yes</button>
                    <button id="cancel-delete-button">No</button>
                  </span>
                </form>
              </div>
            </article>
          </section>
        </article>
      </section>
    </main>

    <script src="/js/script.js"></script>
  </body>
</html>
