<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="/css/create.css" />
  <title>Games With History - Create</title>
</head>

<body>
  <%- include('../partials/header'); %>
  <main>
  <section class="controllers-container">

  
      <button>
        <img src="/img/return-button-svgrepo-com.svg" alt="plus-solid" class="add-button" />
      </button>
      </section>
      <section class="form-container">
        <form action="/create" method="get">
          <title>Cadastro de Personagem</title>

      <h1>Cadastro de Personagens</h1>
      <h3>Habilidade do seu personagem</h3>
      <br>
        <fieldset>
          <div>
            <label>Nome:</label>
            <input type="text" name="name" id="nome">
          </div>
        </fieldset>

        <fieldset>
          <div>
            <label>Imagem:</label>

            <input type="imagem" name="imagem" id="imagem">

          </div>
        </fieldset>


        <div>

        </div>

        </fieldset>
      

      <feldset>
        <div>

<button id="create-button" type="submit">Enviar</button>


        </div>
      </feldset>

        </form>
      </section>
    </main>
      <script src="/js/script.js"></script>
</body>

</html>