<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/css/details.css" />
    <title>Games With History - Details</title>
  </head>
  <body>
    <%- include('../partials/header'); %>
    <h1>Hello World</h1>
    <script src="/js/script.js"></script>
  </body>
</html>
