<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
  <title>Games With History</title>
</head>

<body>
  <%- include('../partials/header'); %>
  <main>
    <section class="banner-container">

    </section>
    <section class="about-container">

    </section>
  </main>
  <%- include('../partials/footer'); %>
  <script src="/js/script.js"></script>
</body>

</html>